[Unit]
Description=lora

[Service]
ExecStart=/home/pi/lora/lora
Restart=always
WorkingDirectory=/home/pi/lora/

[Install]
WantedBy=multi-user.target
Alias=lora.service

